.img-fluid {
    padding-bottom: 20px !important;
  
  }
  .footer {
    padding: 1rem 0 0 0;
    background-color: #e4e4e4;
  
  }
  p{
    text-align: center;
  }
  .footer h3 {
    padding-top: 20px;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #000;
  }
  
  .footer .copyright {
    margin-bottom: 0px;
  }
  
  .footer .copyright,
  .footer .credits {
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    text-align: left !important; 
    font-weight: 700;
  color: #C2C2C2 !important;
  }
  
  .fa {
    padding: 7px;
    font-size: 18px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #3a47bc;
  }
  .fa-facebook {
    background: rgba(245, 245, 245, 0);
    color: #3a47bc;
}
.bottomBar{
  background-color: #566a9b;
  padding-bottom: 20px;
}
.MainFooter{
padding-bottom: 30px;
}

.bottomBar p {
  font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  text-align: left !important; 
  font-weight: 700;
color: #C2C2C2 !important;
}
.footer a {
  color: #C2C2C2;
}


.fa {
  padding: 6px 8px 6px 8px;
  font-size: 18px;
  width: 34px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #3a47bc;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgba(245,245,245,0);
  color: #3a47bc !important
}
.fa-linkedin {
  background: rgba(245,245,245,0);
  color: #3a47bc  !important
}
.fa-twitter {
  background: rgba(245,245,245,0);
  color: #3a47bc  !important
}

.fa-instagram {
  background: rgba(245,245,245,0);
  color: #3a47bc  !important
}

.fa-pinterest {
  background: #f5f5f5;
  color: #3a47bc;
}
.fa-quora{
  background: #f5f5f5;
  color: #3a47bc;
}
